---
interface Props {
  currentUrl: string
  titlePage: string
  descriptionPage: string
}

const { titlePage, descriptionPage, currentUrl } = Astro.props
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{titlePage}</title>
    <meta name="title" content={titlePage} />
    <meta name="description" content={descriptionPage} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={`https://asanlucas.com/${currentUrl ?? ''}`} />
    <meta property="og:title" content={titlePage} />
    <meta property="og:description" content={descriptionPage} />
    <meta
      property="og:image"
      content="https://i.postimg.cc/K8K38fMw/anthonysanlucas-software-developer.png"
    />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={`https://asanlucas.com/${currentUrl ?? ''}`} />
    <meta property="twitter:title" content={titlePage} />
    <meta property="twitter:description" content={descriptionPage} />
    <meta
      property="twitter:image"
      content="https://i.postimg.cc/K8K38fMw/anthonysanlucas-software-developer.png"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div
      class="absolute inset-0 -z-10 h-full w-full bg-white bg-[linear-gradient(to_right,#8080800a_1px,transparent_1px),linear-gradient(to_bottom,#8080800a_1px,transparent_1px)] bg-[size:14px_24px]">
    </div>
    <main
      class="mx-auto relative max-w-screen-xl h-full w-full text-neutral-50 bg-gradient-to-tr to-white min-h-screen">
      <slot />
    </main>
  </body>
</html>

<script>
  const TITLE_PAGE = document.title

  window.onblur = () => {
    document.title = 'Hasta pronto 👋'
  }

  window.onfocus = () => {
    document.title = TITLE_PAGE
  }
</script>
